/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--cover-image);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  padding: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-height: 668px;
}


.header-title {
  position: relative;
  left: -20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size-desktop);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
  /* 129.525px */
}

.header-text {
  color: var(--title-text-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  max-width: 491px;
  justify-self: end;
  align-self: center;
}

.title-decor {
  background-color: var(--title-decor);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu {
  align-self: flex-start;
}

.header__theme-menu-button {
  color: var(--nav-color);
  text-align: center;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 18px;
  /* 100% */
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  padding: 2.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--focus-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  right: 19px;
  top: 19px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  bottom: 19px;
  left: 19px;
}

.rec-decorated {
  position: absolute;
  color: var(--accent-color);
  text-align: center;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 25px;
  text-transform: uppercase;
  right: 48px;
  top: 21px;
}

.rec-decorated::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-color);
  box-shadow: 0px 0px 4px 2px var(--decorated-color);
  border-radius: 50%;
  left: 40px;
  top: 7px;
}

.main {
  display: grid;
  padding: 20px;
  gap: 80px;
  margin: 40px 0px;
}

.content__why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.content__card-title {
  color: var(--title-card-text);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  /* 130% */
}
.card-list {
  display: grid;
  gap: 20px;
}

.card-title {
  color: var(--title-text-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  /* 130% */
}

.card-text {
  color: var(--text-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
  /* 130% */
  margin-block-start: 10px;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--text-shadow);
  text-decoration: none;
}

.text-shadow:hover {
  border-bottom: 1px solid var(--text-color-a);
}

.text-shadow:focus {
  outline: 1px solid var(--text-color-a);
}

.card-text__why {
  margin-block-start: 10px;
}

.card-list__what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 20px;
}

.what__card-title {
  max-width: 315px;
}

.content__how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.card-title__how {
  color: var(--title-text-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
  /* 130% */
}

.section-galery {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.title-galery {
  grid-column: 1/4;
}

.sunset {
  grid-column: 1/3;
}

.ice-cream {
  grid-row: span 2;
}

.tape {
  grid-row: 3/5;
}

.street {
  grid-column: span 2;
}

.footer {
  position: relative;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
}

.footer-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size-desktop);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  /* 129.525px */
}

@media (width <1024px) and (width >=768px) {
  .header-text {
    max-width: 364px;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .content__why {
    gap: 20px;
  }

  .card-list__what {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .what__card-title {
    max-width: 236px;
  }

  .content__how {
    gap: 20px;
  }

  .footer-title {
    font-size: var(--font-size-footer_tablet);
  }
}

@media (width < 768px) {
  .header {
    padding: 10px;
    margin-block-end: 30px;
  }
  .header-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    left: 0px;
  }
  .header-text {
    max-width: 355px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .rec-decorated {
    right: 38px;
    top: 10px;
  }

  .main {
    padding: 10px;
    margin: 0px;
    gap: 50px;
  }
  .content__why {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card-list__what {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .content__how {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
  }

  .galery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-block-start: 30px;
    padding: 10px;
  }

  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
