/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --decorated-color: #ff0070;
  --nav-color: #ff0070;
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --active-color: #ff0070;
  --decorated-color: #ff0070;
  --focus-color: #ff0070;
  --title-color: #db00ff;
  --title-text-color: #000028;
  --title-card-text: #ff0070;
  --text-shadow: #ff0070;
  --text-color: #f1b2ce;
  --font-size: 18px;
  --button-hover: rgba(255, 0, 112, 0.4);
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --title-decor: #ff0070;
  --font-size-footer_tablet: 120px;
  --text-color-a: #f1b2ce;
  --background-color: #000028;
}
